.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrap-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px 10px;
    border-radius: 8px;

}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}

.form input, .form textarea {
    width: 100%;
    outline: none;
    border: 1px solid #9BA4B5;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2px;
    transition: all 0.2s;
    resize: none;
}

.form input:focus, .form textarea:focus {
    box-shadow: 0 0 0 1px orange;
    border: 1px solid orange;
}

.form h3, h1 {
    color: var(--label-color);
}

.error-message {
    display: block;
    background-color: #dc3545;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-size: large;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.submit-button, .cancel-button {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.2s;
    width: 100%;
    max-width: 200px;

}

.submit-button:hover {
    box-shadow: 0 0 0 1px orange;
}

.cancel-button {
    background-color: var(--danger);
}

.cancel-button:hover {
    box-shadow: 0 0 0 1px var(--danger);
}