.card {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    gap: 15px;
    overflow: hidden;
    width: 800px;
    height: 180px;
    color: var(--label-color);
}

.card:hover img {
    transform: scale(1.1);
}

.image-container {
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-shrink: 0;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.2s;
}

.details-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.details-container .title {
    font-weight: bold;
    font-size: large;
    text-decoration: inherit;
}

.details-container .price {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.details-container .new-price {
    color: #ff7900;
    font-weight: bold;
}

.details-container .old-price {
    color: gray;
    font-weight: bold;
    text-decoration-thickness: 1px;
}

.details-container .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details-container .promo-link {
    color: white;
    display: block;
    background-color: orange;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: auto;
}

.promo-link:hover {
    background-color: #ff9d46;
}

.promo-link a {
    color: inherit;
    text-decoration: none;
}